# Ignore everything by default
/*

# But include Assets and ProjectSettings folders
!/Assets/
!/ProjectSettings/

# Allow the .gitignore file itself to be tracked
!/.gitignore

# Inside Assets, still ignore temporary junk
Assets/Plugins/Editor/JetBrains*
Assets/StreamingAssets/aa.meta
Assets/StreamingAssets/aa/*
Assets/AddressableAssetsData/*/*.bin*

# Optional: ignore auto build output inside Assets if you export there
Assets/**/Build*/**

# Build and system artifacts (outside Assets)
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# IDE & debug
.vs/
.gradle/
*.csproj
*.sln
*.user
*.tmp
*.pdb
*.mdb
*.opendb
*.VC.db
